<!-- ===== Contact Section Start ===== -->
<section class="contact section" id="contact">
  <div class="container">
    <div class="row">
      <div class="section-title padd-15">
        <h2>Contact Me</h2>
      </div>
    </div>
    <h3 class="contact-title padd-15">Have Any Questions?</h3>
    <h4 class="contact-sub-title padd-15">I'M AT YOUR SERVICE</h4>
    <div class="row">
      <!-- ===== Contact info item start ===== -->
      <div class="contact-info-item padd-15">
        <div class="icon"><i class="fa fa-phone"></i></div>
        <h4>Call Us On</h4>
        <p>+880 1888166570</p>
      </div>
      <!-- ===== Contact info item end ===== -->
      <!-- ===== Contact info item start ===== -->
      <div class="contact-info-item padd-15">
        <div class="icon">
          <a href="https://www.linkedin.com/in/md-rakibul-kabir-26333428a/"
            ><i class="fa fa-brands fa-linkedin"></i
          ></a>
        </div>
        <h4>LinkedIn</h4>
        <p>Rakib</p>
      </div>
      <!-- ===== Contact info item end ===== -->
      <!-- ===== Contact info item start ===== -->
      <div class="contact-info-item padd-15">
        <div class="icon"><i class="fa fa-envelope"></i></div>
        <h4>Email</h4>
        <p>fsrakiba50@gmail.com</p>
      </div>
      <!-- ===== Contact info item end ===== -->
      <!-- ===== Contact info item start ===== -->
      <div class="contact-info-item padd-15">
        <div class="icon">
          <a href="https://www.facebook.com/fsrakib205"
            ><i class="fa fa-brands fa-facebook"></i
          ></a>
        </div>
        <h4>Facebook</h4>
        <p>fsRakib</p>
      </div>
      <!-- ===== Contact info item end ===== -->
    </div>
    <h3 class="contact-title padd-15">SEND ME AN EMAIL</h3>
    <h4 class="contact-sub-title padd-15">I'M VERY RESPONSIVE TO MESSAGES</h4>
    <!-- ===== Contact Form ===== -->
    <form action="https://api.web3forms.com/submit" method="POST">
      <div class="row">
        <input
          type="hidden"
          name="access_key"
          value="65f330a7-ac4a-40fd-a5d0-7f1b6bc8bb3e"
        />
        <div class="contact-form padd-15">
          <div class="row">
            <div class="form-item col-6 padd-15">
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  name="name"
                  placeholder="Your Name *"
                  required
                  aria-label="Your Name"
                  autocomplete="name"
                />
              </div>
            </div>
            <div class="form-item col-6 padd-15">
              <div class="form-group">
                <input
                  type="email"
                  class="form-control"
                  name="email"
                  placeholder="Your Email *"
                  required
                  aria-label="Your Email"
                  autocomplete="email"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-item col-12 padd-15">
              <div class="form-group">
                <textarea
                  name="message"
                  class="form-control"
                  placeholder="Your Message *"
                  required
                  aria-label="Your Message"
                  rows="5"
                ></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-item col-12 padd-15">
              <button type="submit" class="btn" aria-label="Send Message">
                <i class="fas fa-paper-plane"></i> Send Message
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
<!-- ===== Contact Section End ===== -->
