<!-- ===== Home Section Start ===== -->
<section class="home section" id="home">
  <div class="container">
    <div class="row">
      <div class="home-info padd-15">
        <h3 class="hello">
          Hello, my name is <span class="name">Md. Rakibul Kabir</span>
        </h3>
        <h3 class="my-professiom">I'm a <span class="typing">Student</span></h3>
        <p>
          I'm a student of Software Engineering at Shahjalal University of
          Science & Technology (SUST), Sylhet.
        </p>
        <a href="#contact" class="btn hire-me">Hire Me</a>
      </div>
      <div class="home-img padd-15">
        <img src="images/hero.jpg" alt="" />
      </div>
    </div>
  </div>
</section>
<!--===== Home Section End =====-->
